/* Custom CSS */

.thumbnail-small {
    position: relative;
    width: 90px;
    height: 90px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: cover;
    -o-object-position: cover;
}

.thumbnail-menu {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: cover;
    -o-object-position: cover;
}



/* 2 */

.thumbnail-user {
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.user-avatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 1px solid #ccc;
}